---
import Layout from '../layouts/Layout.astro';
import AboutUs from '../sections/AboutUs.astro';
import FAQs from '../sections/FAQs.astro';
import Home from '../sections/Home.astro';
import Recommendations from '../sections/Recommendations.astro';
import Stays from '../sections/Stays.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Home />
		<Recommendations />
		<Stays />
		<FAQs />
		<AboutUs />
	</main>
</Layout>
