---
import data from '../data/stays.json';
---

{
	data.map((item) => (
		<div class={`mx-auto mb-20 h-[28rem] w-[85vw] rounded-3xl bg-[url(${item.src})] bg-cover ${item.text}`}>
			<div class="pl-10 pt-14 text-3xl font-semibold">
				<p>{item.name}</p>
				<p class="w-[80%] text-pretty pt-4 text-xl font-normal">{item.description}</p>
			</div>
		</div>
	))
}