@media (prefers-color-scheme: dark) {
	#bg-Green {
		background: #374151;
	}
	#bg-white {
		background: #1f2937;
	}
	#bg-Green p {
		--tw-text-opacity: 1;
		color: rgb(245 245 245 / var(--tw-text-opacity));
	}
	#bg-white p {
		--tw-text-opacity: 1;
		color: rgb(245 245 245 / var(--tw-text-opacity));
	}
}
:root[class='dark'] #bg-Green {
	background: #374151;
}
:root[class='dark'] #bg-white {
	background: #1f2937;
}
:root[class='dark'] #bg-Green p {
	--tw-text-opacity: 1;
	color: rgb(245 245 245 / var(--tw-text-opacity));
}
:root[class='dark'] #bg-white p {
	--tw-text-opacity: 1;
	color: rgb(245 245 245 / var(--tw-text-opacity));
}
:root[class='light'] #bg-Green {
	background: #8fa206;
}
:root[class='light'] #bg-white {
	background: #ffffff;
}
:root[class='light'] #bg-Green p {
	--tw-text-opacity: 1;
	color: rgb(245 245 245 / var(--tw-text-opacity));
}
:root[class='light'] #bg-white p {
	color: #61aec9
}
