<p class="relative bottom-12 text-transparent" id="FAQs">a</p>
<section>
    <div class="ml-8">
        <h2 class="font-bold text-4xl text-Pink mb-8">FAQs</h2>
        <h2 class="font-bold text-2xl text-Pink mb-3">Payment Methods</h2>
        <p class="font-semibold w-[85vw] text-pretty mb-5 text-lg">We accept VISA, MasterCard, American Express, PayPal and Binance</p>
        <h2 class="font-bold text-2xl text-Pink mb-3">Cancellation Policy</h2>
        <p class="font-semibold w-[85vw] text-pretty mb-5 text-lg">We accept VISA, MasterCard, American Express, PayPal and Binance</p>
        <h2 class="font-bold text-2xl text-Pink mb-3">Long Stays</h2>
        <p class="font-semibold w-[85vw] text-pretty mb-px text-lg">We accept VISA, MasterCard, American Express, PayPal and Binance</p>
        <p class="font-semibold w-[85vw] text-pretty mb-5 text-lg">We accept VISA, MasterCard, American Express, PayPal and Binance</p>
        <h2 class="font-bold text-2xl text-Pink mb-3">Cancellation Policy</h2>
        <p class="font-semibold w-[85vw] text-pretty mb-12 text-lg">We accept VISA, MasterCard, American Express, PayPal and Binance</p>
    </div>
</section>