<p class="relative bottom-12 text-transparent" id="FAQs">a</p>
<section>
	<div class="ml-8">
		<h2 class="mb-8 text-4xl font-bold text-Pink">FAQs</h2>
		<h2 class="mb-3 text-2xl font-bold text-Pink">Payment Methods</h2>
		<p class="mb-5 w-[85vw] text-pretty text-lg font-semibold">
			We accept VISA, MasterCard, American Express, PayPal and Binance
		</p>
		<h2 class="mb-3 text-2xl font-bold text-Pink">Cancellation Policy</h2>
		<p class="mb-5 w-[85vw] text-pretty text-lg font-semibold">
			We accept VISA, MasterCard, American Express, PayPal and Binance
		</p>
		<h2 class="mb-3 text-2xl font-bold text-Pink">Long Stays</h2>
		<p class="mb-px w-[85vw] text-pretty text-lg font-semibold">
			We accept VISA, MasterCard, American Express, PayPal and Binance
		</p>
		<p class="mb-5 w-[85vw] text-pretty text-lg font-semibold">
			We accept VISA, MasterCard, American Express, PayPal and Binance
		</p>
		<h2 class="mb-3 text-2xl font-bold text-Pink">Cancellation Policy</h2>
		<p class="mb-12 w-[85vw] text-pretty text-lg font-semibold">
			We accept VISA, MasterCard, American Express, PayPal and Binance
		</p>
	</div>
</section>
