---
import SearchInput from '../../public/icons/searchInput.astro';
import Moon from '../components/Moon.astro';
---

<p class="absolute top-0 text-transparent" id="homeA">A</p>
<section
	id="home"
	class="flex h-[31rem] flex-col bg-[url(/Hero.png)] bg-cover bg-center bg-no-repeat md:mt-14"
>
	<div class="relative bottom-[0.4rem] left-3 scale-50 self-end md:hidden">
		<Moon />
	</div>
	<div class="flex h-[85%] flex-col items-center justify-between md:mt-14">
		<label
			id="labelSearch"
			class="flex h-16 w-auto cursor-pointer items-center justify-center rounded-full bg-white drop-shadow-lg"
		>
			<div class="ml-4" id="imgSearch">
				<SearchInput />
			</div>
			<input
				type="text"
				name="search"
				id="search"
				placeholder="San Francisco"
				class="mr-2 mt-px w-[60vw] rounded-full border-none text-xl font-medium placeholder-black outline-none transition-all duration-300 focus:w-[80vw]"
				autocomplete="off"
			/>
		</label>
		<div class="md:absolute md:left-[20vw] md:top-60">
			<p class="hidden w-96 text-4xl font-bold md:mb-6 md:flex">Find More Locations like this</p>
			<button
				type="button"
				class="z-10 mb-16 h-12 w-48 rounded-full bg-white text-lg font-semibold text-Pink drop-shadow-lg transition-all duration-500 ease-out hover:-translate-y-1 hover:scale-110 hover:bg-Pink hover:text-white dark:text-gray-700 dark:hover:bg-gray-700"
				id="buttonSearch">Explore More</button
			>
		</div>
	</div>
</section>

<script>
	const button = document.getElementById('imgSearch');
	button.addEventListener('click', function () {
		console.log('Buscando');
	});
	button.addEventListener('enter', function () {
		console.log('Buscando');
	});
</script>

<style>
	input[type='text']:focus {
		box-shadow: none;
	}
</style>
