---
import CartRecommendations from '../components/CartRecommendations';
---

<p class="relative bottom-12 text-transparent" id="Recommendations">a</p>
<section>
	<h2 class="m-8 ml-8 text-3xl font-semibold text-Pink">Our Recommendations</h2>
	<div
		class="flex h-80 w-auto items-center overflow-x-auto overscroll-x-contain md:h-96 md:text-red-500"
		id="containCarts"
	>
		<CartRecommendations />
	</div>
</section>

<style>
	#containCarts::-webkit-scrollbar {
		width: 10px;
		height: 6px;
	}

	#containCarts::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	#containCarts::-webkit-scrollbar-thumb {
		background: #cc2d4a;
		border-radius: 0.5rem;
	}

	#containCarts::-webkit-scrollbar-thumb:hover {
		background: #9e1a33;
	}
</style>
