---
import CartStays from '../components/CartStays';
---
<p class="relative bottom-12 text-transparent" id="Stays">a</p>
<section>
	<h2 class="m-8 ml-8 text-3xl font-semibold text-Pink">Trending Stays</h2>
	<CartStays />
</section>
